@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Open Sans";
  src: url("./assets/OpenSans-Regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Open Sans";
  @apply bg-bg-primary text-text-primary;
}

h3 {
  @apply text-base my-4 mx-0;
}

pre {
  margin: 0;
}
