{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "refresh": true,
        "runtime": "automatic"
      }
    }
  }
}
