.script-runner {
  width: 39rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg-secondary);
  padding: var(--padding-card);
  border-radius: var(--radius-primary);
}

.script-runner h4 {
  margin: 0.5rem 0 0.75rem;
  align-self: start;
}
