.debug-dashboard {
  padding: 0.25rem;
  max-width: 1280px;
  margin: 0 auto;
}

.debug-dashboard li {
  break-inside: avoid;
  white-space: nowrap;
}

.css-module-check {
  color: var(--accent-primary);
}

.divider {
  margin: 2rem 0;
  border-bottom: 1px solid var(--divider-primary);
}

.section-children {
  padding: 0 1rem;
}

.icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  fill: var(--text-primary);
}

.bundler-checklist-items {
  display: flex;
  justify-content: space-evenly;
  font-size: small;
}

.bundler-checklist-item-sub {
  font-size: smaller;
}

.script-runners {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(38rem, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 1rem;
}
